
    @{
        ViewBag.Title = "About";
    }
<main>


    <p>Dibujo aqui</p>
    
    <style>
        .body {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    </style>
    <style>
        .container {
            width: 1000px;
            height: 1000px;
        }
    </style>

    <style>
        .cabeza {
            width: 375px;
            height: 260px;
            background-color: #DEB887;
            border-radius: 300px 300px 120px 120px;
            justify-items: center;
            position: relative;
            z-index: 1;
            border: solid #996633;
        }
    </style>

    <style>
        .cuerpo {
            width: 300px;
            height: 250px;
            background-color: #DEB887;
            border-radius: 400px 400px 100px 100px;
            justify-items: center;
            position: relative;
            left: 30px;
            top: -40px;
            border: solid #996633;
        }
    </style>

    <style>
        .pata-izq {
            width: 150px;
            height: 150px;
            border-radius: 70px;
            background-color: #DEB887;
            position: absolute;
            top: 1450px;
            left: 420px;
            border: solid #996633;
        }
    </style>

    <style>
        .pata-der {
            width: 150px;
            height: 150px;
            border-radius: 70px;
            background-color: #DEB887;
            position: absolute;
            top: 1450px;
            left: 640px;
            border: solid #996633;
        }
    </style>

    <style>
        .oreja-izq {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: #DEB887;
            position: absolute;
            bottom: -140px;
            left: 700px;
            border: solid #996633;
        }
    </style>

    <style>
        .oreja-der {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: #DEB887;
            position: absolute;
            bottom: -140px;
            left: 450px;
            border: solid #996633;
        }
    </style>

    <style>
        .ojo-der {
            height: 25px;
            width: 15px;
            border-radius: 50px;
            background-color: black;
            position: absolute;
            bottom: -200px;
            left: 550px;
            z-index: 1;
        }
    </style>

    <style>
        .ojo-izq {
            height: 25px;
            width: 15px;
            border-radius: 50px;
            background-color: black;
            position: absolute;
            bottom: -200px;
            left: 650px;
            z-index: 1;
        }
    </style>

    <style>
        .hocico {
            height: 80px;
            width: 100px;
            border-radius: 60px 60px 30px 30px;
            background-color: #fff8dc;
            position: absolute;
            bottom: -290px;
            left: 570px;
            z-index: 2;
        }
    </style>

  


    <div class="container">
        <div class="cabeza"></div>
        <div class="cuerpo"></div>
        <div class="pata-der"></div>
        <div class="pata-izq"></div>
        <div class="oreja-der"></div>
        <div class="oreja-izq"></div>
        <div class="ojo-der"></div>
        <div class="ojo-izq"></div>
        <div class="hocico"></div>
    </div>






</main>